div{
    margin: 0px;
    padding: 0px;
    border: 0px;
    color: white;
}

#header-title{
    color: white;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 3em;
}

#header{
    background-color: black;
}

#content{
    background-color: 1a1a1a;
}

#footer{
    height: 50px;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    background-color: black;
    vertical-align: middle;
    line-height: 50px;
}

#cover{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1000;
    background-image: url(images/dark_embroidery.png);
    background-repeat: repeat;
}

.rounded-border{
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
<<<<<<< HEAD
    border: 4px solid #4d384d;
}
=======
    border: 4px solid #FFD700;
}

>>>>>>> 95a6821415f9e0b2cdb3a5ed6c25ebdae569582e
#content{
    padding-top: 10px;
    padding-bottom: 10px;
}

.col-centered{
    margin: 0 auto;
}

#log-space{
    display:block;
    float:left;
    padding: 5px;
}

#log-box{
    font-family: 'Comfortaa', cursive;
    padding: 0;
    width: 80%;
    display: block;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: visible;
}

#draw-space{
    display: block;
    float: left;
    padding: 5px;
}

#draw-canvas{
    display: block;
    margin: 0 auto;
}

@media screen and (min-width: 2px) {
    #draw-space{
        width: 100%;
    }
    #log-space{
        width: 100%;
    }
    #draw-canvas {
        width: 400px;
        height: 400px;
        margin: 0 auto;
    }
    #log-box {
        height: 400px;
    }
}

@media screen and (min-width: 768px) {
    #draw-space{
        width: 50%;
    }
    #log-space{
        width: 50%;
    }
    #draw-canvas {
        width: 390px;
        height: 390px;
        margin: 0 auto;
    }
    #log-box {
        height: 390px;
    }
}

@media screen and (min-width: 992px) {
    #draw-space{
        width: 60%;
    }
    #log-space{
        width: 40%;
    }
    #draw-canvas {
        width: 500px;
        height: 500px;
        margin: 0 auto;
    }
    #log-box {
        height: 500px;
    }
}

@media screen and (min-width: 1200px) {
    #draw-space{
        width: 70%;
    }
    #log-space{
        width: 30%;
    }
    #draw-canvas {
        width: 600px;
        height: 600px;
        margin: 0 auto;
    }
    #log-box {
        height: 600px;
    }
}

log-space > ::-webkit-scrollbar {
    width: 12px;
    display: none;
}

#log-box::-webkit-scrollbar {
    width: 12px;
    display: block;
}
 
log-space > ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1); 
    border-radius: 10px;
}
 
log-space > ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1);
}

.glyphicon{
    color: white;
    background-color: white;
}
<<<<<<< HEAD
body > ::-webkit-scrollbar{
    
}
=======
>>>>>>> 95a6821415f9e0b2cdb3a5ed6c25ebdae569582e
